.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    margin: 10px;
    
   
}
.info-content p{
color: #fff;
}
.info-content h1{
  color: #fff;
}
.info-content span{
  color:aqua
}
.main img{
    border: 3px solid aqua;
    
    max-width: 300px;
    max-height:300px ;
    
}
.about-me{
    padding: 0;
   
   
}
.about-me img{
     width: 300px;
     margin-left: 50px;
    width: 300px;
    
    
    
}
.about-info{
    margin-left:  50px;
    padding-top: 5px;

   
    
}
.about-info h2{
    font-size: 2em;
    color: #191c32;
}
.about-info div{
     box-sizing: border-box;
     
}
.download-cv{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    margin: 10px;
    border-radius: 25%;
    cursor: pointer;
}

.download-cv:hover{
    background-color: white;
    transition: 2s;

}
.download-cv:active{
    background-color: red;
}
.portafolio2{
    width: 100vw;
    padding: 5em;
}
.portafolio2 h2{
    font-size: 2.5em;
}
.portfolio1 .container{
    
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.card{
    width: 300px;
    height: 350px;
    background-color: cadetblue;
    margin: 1em;
    
    
    
}
.card_img{
    width: 100%;
    height:150px ;
    background-image: url(/img/2-original.png);
    background-size: cover;

}
.portfolio1{
    
    
  width: 100%;
  height: 100%;
  background-color: #191c32;
  color:red;
  box-sizing: border-box;

  
}
.card_title{
  padding: 20px;
}
.project_link{
  display: flex;
  justify-content: space-evenly;
}
.project_link a{
  color: #fff;
}
.project_link i{
  font-size: 1.5em;
}
.card .project_detal{
display: flex;
justify-content: center;
margin: 1em;
width: 70%;
}
.card .project_detal a{
  text-decoration: none;
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  margin: 10px;
  border-radius: 25%;
  cursor: pointer;
  margin: 0
  
  
}
.card .project_detal a:hover{
  background-color: white;
  transition: 2s;

}
.porjeur {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
}

.padre {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: flex-end;

}
#fils{
  width: 100%;
  height: 100%;
  background-image: url(./adlerFotoSclak.jpeg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  


}
.padre .padre3 h2 {
  display: flex;
  font-size: 50px;
  justify-content: center;
  
}
.padre1{
display: flex;
 
  
  
  
}
form{
  width: 450px;
  margin: auto;
  background:rgba(0, 0, 0,0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  /*margin-top: 20px;*/

  border-radius: 25px;
}
form h2{
  color: #fff;
  margin: 0;
}
input ,textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
#christ{
  background: #31384a;
  color: #fff;
  padding: 20px;
  width: 100%;

}
#christ:hover{
  cursor: pointer;

}

.dodo{
 display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  background: aquamarine;
  
  
  z-index: 4;
}
.dodo h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

}

.dodo div{
    margin-right: 60px;
  
  }

.live{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
  padding: 0;
}
.wrapper{
  background-color: #191c32;
  width: 100%;
  height: 600px;
  padding: 70px;
  
}.dodo div h2{
  font-size: 48px;
}


.live i{
  cursor: pointer;
}
@media(min-width: 950px){
    .main{
       display: flex;
       align-items: center;
        
       
    }
    .about-me{
        display: flex;
        
        align-items: center;
       
       
    }
    .about-info {
       justify-content: center;
        
   }
   .dodo{
    display: flex;
     width: 100%;
     height: 200px;
     justify-content: center;
     align-items: center;
     background: aquamarine;
     
     
     
     z-index: 4;
   }
   
   
  

}
